﻿<form id="createform" method="post" action="/Action/create" class="">
    <h1>Create Auction</h1>
 
    <div class="form-group">
        <label>
            Title
        </label>
      <input class="form-control" type="text" id="txtTitel" name="Title" />
     
     
        <label>
            pictUrl
        </label>
        <input type="text" class="form-control"  id="txtUrl" name="PictureUrl" />
     

        <label>
            Descrption
        </label>
        <input type="text" class="form-control" id="txtDesc" name="Description" />
      
        <label>
            ActualAmount
        
        <input type="number" class="form-control" id="numAmount" name="ActualAmount" />
      

        <label>
            Starting Time
        </label>
        <input type="datetime" class="form-control" id="datest" name="StratingTime" />
        

        <label>
            ending time
        </label>
        <input type="datetime" class="form-control" id="endDate" name="EndingDate" />

        <button class="btn-success" type="button" name="btn" id="btnid">save</button>
</form>
<script>
    $("#btnid").click(function () {
        $.ajax({
            url: "/Action/create",
            method: "post",
            data: $("#createform").serialize()
        })
            .done(function (response) {
                $("#listingArea").html(response);
            }).fail(function (failure) {

            });
                

        
    });
</script>