﻿@model  DealDouble.Entites.Auction
    <h1>are u sure to delete</h1>
<form method="post" id="deleteform">
    <input type="hidden" name="ID" value="@Model.ID">
    <button>yes</button>

   
</form>
<form method="get" action="~/action/index">
  <button>no</button>
   
</form>