﻿@model DealDouble.Entites.Auction
    


        <form method="post" id="editform">
            <h1>edit Auction</h1>
            <input type="hidden" name="id" value="@Model.ID"
            <label>
                Title
            </label>
            <input type="text" id="txtTitel" name="Title" value="@Model.Title" />
            <br />
            <label>
                pictUrl
            </label>
            <input type="text" id="txtUrl" name="PictureUrl" value="@Model.PictureUrl" />
            <br />

            <label>
                Descrption
            </label>
            <input type="text" id="txtDesc" name="Description" value="@Model.Description" />
            <br />
            <label>
                ActualAmount
            </label>
            <input type="number" id="numAmount" name="ActualAmount" value="@Model.ActualAmount" />
            <br />

            <label>
                Starting Time
            </label>
            <input type="datetime" id="datest" name="StratingTime" value=" @Model.StratingTime " />
            <br />

            <label>
                ending time
            </label>
            <input type="datetime" id="endDate" name="EndingDate" value="@Model.EndingDate" />
            <br />

            <button class="btn btn-outline-success" type="button" name="btn" id="btnid">save</button>
        </form>
    
<script>
    $("#btnid").click(function () {
        debugger;
        $.ajax({
            url: "/Action/Edit",
            method: "post",
            data: $("#editform").serialize()
        })
            .done(function (response) {
                debugger;
                $("#listingArea").html(response);
            }).fail(function (failure) {

            });
                

        
    });

</script>