﻿@model List<DealDouble.Entites.Auction>
    <h2 class="align-content-around">auctions</h2>
    <div class="row">
        <div id="listingArea">
            <table border="1"  class="table table-hover">
                <thead>
                    <tr>
                        <th>title   </th>
                        <th>pictureurl</th>

                        <th>Description</th>

                        <th>actual amount</th>

                        <th>starting time</th>

                        <th>end time</th>
                        <th>auction</th>

                    </tr>
                </thead>
                <tbody>


                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <input type="hidden" value="@item.ID" />
                            </td>
                            <td>@item.Title</td>
                            <td>@item.PictureUrl</td>
                            <td>@item.Description</td>
                            <td>@item.ActualAmount</td>
                            <td>@item.StratingTime</td>
                            <td>@item.EndingDate</td>
                            <td>
                                @*<a href="/Action/edit/@item.ID">edit</a>
                                <a href="/Action/delete/@item.ID">delete</a>*@
                                <button class="editbtn btn btn-primary" data-id="@item.ID">edit</button>
                                <button class="deletebtn btn-danger" data-id="@item.ID">delete</button>

                            </td>




                        </tr>
                    }
                </tbody>

                <div>
                    <button  class="btn btn-success" id="btncre" >create New</button>
                </div>

            </table>
        </div>

        <div id="contentArea"></div>


        <script>

            $("#btncre").click(function () {
                $.ajax
                    ({
                        url: "/Action/create/",
                        method: "get"

                    }).done(function (response) {


                        $("#contentArea").html(response);
                    });
            });
            $(".editbtn").click(function () {

                $.ajax
                    ({
                        url: "/Action/Edit/",
                        method: "get",
                        data:
                        {
                            ID: $(this).attr("data-id")
                        }

                    }).done(function (response) {


                        $("#contentArea").html(response);
                    });
            });

            $(".deletebtn").click(function () {
                var res = confirm("are u sure to delete");
                if (res == true) {
                    debugger;
                    $.ajax
                        ({
                            url: "/Action/delete",
                            method: "post",
                            data:
                            {
                                ID: $(this).attr("data-id")

                            }
                        })
                        .done(function (response) {
                            debugger;
                            $("#listingArea").html(response);
                        });

                }



            });



        </script>
    </div>

